<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">
        *{
            box-sizing:border-box;
        }

        .mainEmail{
            background-color:#1c1717;
            color:#ebebeb;
            font-family:sans-serif;
            padding:1rem 2rem;
            font-size:.9rem;
        }

        .bold{
            font-weight:bold;
        }

        .text-center{
            text-align:center;
        }

        h1,h2,h3,span{
            color:#C8A12B;
        }

    </style>
</head>
<body>
<section class="mainEmail">
    <h1 class="text-center">Hello there! ¿Problemas para iniciar sesión?</h1>

    <p>Esta es tu nueva contraseña: {{password}} </p>

    <p>Recuerda que puedes cambiarla en cualquier momento.</p>

    <span>Gracias por confiar en nosotros, tu fuente de información mandaloriana personalizada.</span>
    
    <h3 class="text-center">Este es el camino</h3>
</section>
</body>
</html>