{% extends 'base.html.twig' %}

{% block title %}Recuperar contraseña | Mandopedia{% endblock %}

{% block body %}

{% if error %}
    <script>
        let error = '{{error}}';
        errorNotification(error);
    </script>
{% endif %}

{{ include('_header_login.html.twig')}}

<section id="recoverPassword" class="container main-section-alternative">
    <h2 class="center-align">Recuperar contraseña</h2>

    <div class="space-between">
        <form method="post" class="form form-login-size" action="/recover_password">
            <div class="input-field">
                <label for="recoverPasswordEmail">Correo electrónico</label>
                <input type="email" name="recoverPasswordEmail" id="recoverPasswordEmail" required autofocus>
            </div>
            <button type="submit" class="btn btn-gold waves-effect waves-gold disabled">Enviar correo</button>
        </form>

        <img src="img/grogu.png" alt="Grogu" class="imgForm"/>

</section>

{{ include('_footer.html.twig')}}
    
{% endblock %}