{% extends 'base.html.twig' %}

{% block title %}Politica de cookies | Mandopedia{% endblock %}

{% block body %}

{{ include('_header.html.twig')}}

<section id="cookies" class="container main-section">

    <nav class="breadcrumb-panel">
        <a href="/">Inicio</a>
        <i class="fa-solid fa-angle-right fa-sm"></i>
        <a href="/privacy">Política de cookies</a>
    </nav>

    <h2 class="center-align">Política de cookies</h2>

    <section>	
        <h5>Introducción</h5>
        <p>
            Mediante el presente aviso en la web, Mandopedia le informa de su política de cookies, cumpliendo así con lo 
            previsto en el artículo 22.2 de la Ley 34/2002, de 11 de julio de Servicios de la Sociedad de la Información y de 
            Comercio Electrónico.
        </p>

        <h5>Concepto de cookie</h5>
        <p>
            Cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a 
            una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario 
            o de su equipo, dependiendo de la información que contengan y de la forma en que se utilice su equipo, pueden 
            utilizarse para conocer al usuario. El navegador del usuario memoriza cookies en el disco duro solamente durante 
            la sesión actual ocupando un espacio de memoria mínimo sin perjudicar su ordenador. Las cookies no contienen ninguna
            clase de información personal específica, y la mayoría de las mismas se borran del disco duro al finalizar 
            la sesión del navegador.La mayoría de los navegadores aceptan como estándar a las cookies, y con independencia 
            de las mismas, permiten o impiden en los ajustes de seguridad las cookies temporales o memorizadas.
        </p>
        <p>
            Las cookies son instaladas durante la navegación por Internet, bien por los sitios web que visita el usuario o 
            bien por terceros con los que se relaciona el sitio web, y permiten a éste conocer su actividad en el mismo sitio 
            o en otros con los que se relaciona éste, por ejemplo: el lugar desde el que accede, el tiempo de conexión, 
            el dispositivo desde el que accede (fijo o móvil), el sistema operativo y navegador utilizados, las páginas más 
            visitadas, el número de clicks realizados y de datos respecto al comportamiento del usuario en Internet.
        </p>

        <div class="parallax-container">
            <div class="parallax"><img src="/img/artwork-2.png" alt="artwork mandalorianos"></div>
        </div>

        <h5>Autorización del uso de cookies</h5>
        <p>
            De conformidad con el aviso de cookies que aparece en el pie de página o en el encabezado de la misma, 
            el usuario o visitante de los mismos acepta que, al navegar por el mismo, consiente expresamente el uso de 
            cookies según la descripción que se detalla a continuación, excepto en la medida en que haya modificado la 
            configuración de su navegador para rechazar su utilización.
        </p>

        <h5>Tipos de cookies</h5>
        <p>
            Existen diferentes tipos de cookies, las cuales pueden ser clasificadas según 
            su finalidad a la hora de obtener información acerca del usuario:
        </p>
        <p>
            <strong>Cookies técnicas: </strong>Son aquellas que resultan imprescindibles para permitir al usuario la 
            navegación a través de una página web, como por ejemplo, las que permiten almacenar los datos de un pedido online.
        </p>
        <p>
            <strong>Cookies de personalización: </strong>Este tipo permite personalizar las funciones o contenidos del
            sitio web en función de los datos obtenidos del navegador. Mediante estas cookies podemos presentar un sitio 
            web en el mismo idioma del navegador usado para visitar la web.
        </p>
        <p>
            <strong>Cookies de análisis: </strong>Se utilizan con fines estadísticos únicamente. Un claro ejemplo podría ser
            las cookies generadas por el script de seguimiento de Google Analytics.
        </p>

        <p>
            <strong>Cookies publicitarias y de publicidad comportamental: </strong>Son todas aquellas que tienen como 
            objetivo mejorar la eficacia de los espacios publicitarios. Así, la red publicitaria de Google o los adservers 
            incluyen este tipo de tecnologías para dar el servicio deseado a sus clientes.
        </p>

        <p>
            Puede obtener más información sobre las cookies y su uso en <a href="aboutcookies.org" target="_blank">aboutcookies.org</a>
        </p>

        <h5>Cookies utilizadas en esta web</h5>
        <p>
            <strong>Cookies propias. </strong>Son aquellas cookies que son enviadas a su ordenador o dispositivo móvil y 
            gestionadas exclusivamente por Mandopedia para el mejor funcionamiento del sitio web. La información 
            que recabamos se emplea para mejorar la calidad de nuestro servicio y su experiencia como usuario.
        </p>
            
        <h5>Configuración del navegador</h5>
        <p>
            El Titular recuerda a sus usuarios que el uso de cookies podrá estar sujeto a su aceptación durante la 
            instalación o actualización del navegador utilizado por éstos.Esta aceptación podrá ser revocada mediante 
            las opciones de configuración de contenidos y privacidad disponibles en el mismo. El Titular recomienda a 
            sus usuarios que consulten la ayuda de su navegador o acceda a las páginas web de ayuda de los principales 
            navegadores.
        </p>

        <h5>Retirar mi consentimiento</h5>
        <p>
            Si quisiese retirar en cualquier momento su consentimiento relacionado con la presente Política de Cookies, 
            deberá eliminar las cookies almacenadas en su equipo (ordenador o dispositivo móvil) a través de los ajustes 
            y configuraciones de su navegador de Internet.

            Para mayor información sobre la eliminación, deshabilitación o bloqueo de las cookies, por favor visite: 
            <a href="http://www.allaboutcookies.org/es/administrar-las-cookies/">allaboutcookies.org/es/administrar-las-cookies/</a>
        </p>

        <h5>Modificación de la configuración y ajustes sobre cookies</h5>
        <p>
            Salvo que haya ajustado la configuración de su navegador, el sistema creará cookies en cuanto visite el sitio web. 
            Tenga presente que todos los navegadores de Internet permiten el cambio de dicha configuración. Para más información 
            sobre la forma de ajustar sus configuraciones de cookies en los siguientes navegadores, le remitimos al enlace 
            pertinente:
        </p>
                
        <h6>Internet Explorer</h6>
        <ul>
            <li>Internet Explorer 7 <a href="http://www.allaboutcookies.org/es/administrar-las-cookies/internet-explorer7-plus.html">Administrar cookies IE7</a></li>
            <li>Internet Explorer 8 <a href="http://www.allaboutcookies.org/es/administrar-las-cookies/internet-explorer8-plus.html">Administrar cookies IE8</a></li>
            <li>Internet Explorer 9 <a href="http://www.allaboutcookies.org/es/administrar-las-cookies/internet-explorer9-plus.html">Administrar cookies IE9</a></li>
            <li>Internet Explorer 11 <a href="https://support.microsoft.com/es-es/help/17442/windows-internet-explorer-delete-manage-cookies">Administrar cookies IE11</a></li>
        </ul>
                
        <h6>Mozilla Firefox</h6>
        <ul>
            <li><a href="https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias">Administrar cookies Firefox</a></li>
        </ul>

        <h6>Google Chrome</h6>
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&amp;hl=es">Administrar cookies Chrome</a></li>
        </ul>

        <h6>Safari</h6>
        <ul>
            <li><a href="https://support.apple.com/kb/ph21411?locale=es_ES">Administrar cookies Safari</a></li>
        </ul>

        <h6>iOS</h6>
        <ul>
            <li><a href="https://support.apple.com/es-es/HT201265">Administrar cookies iOS</a></li>
        </ul>

    </section>

</section>

{{ include('_footer.html.twig')}}

{% endblock %}