{% extends 'base.html.twig' %}

{% block title %}Politica de privacidad | Mandopedia{% endblock %}

{% block body %}

{{ include('_header.html.twig')}}

<section id="privacy" class="container main-section">

    <nav class="breadcrumb-panel">
        <a href="/">Inicio</a>
        <i class="fa-solid fa-angle-right fa-sm"></i>
        <a href="/privacy">Política de privacidad</a>
    </nav>

    <h2 class="center-align">Política de privacidad</h2>

    <section>
        <p>
            En cumplimiento de lo establecido en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril 
            de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la 
            libre circulación de estos datos, así como en la Ley Orgánica de Protección de Datos, le informamos que, en Mandopedia 
            creemos y defendemos que tu privacidad es algo muy importante y que sólo tú debes poder decidir qué uso se hace 
            de tu información. Por eso, nos hemos adecuado a la normativa europea de Protección de Datos personales y ponemos a tu 
            disposición todo lo que necesitas para entenderla.
        </p>

        <div class="parallax-container">
            <div class="parallax"><img src="/img/artwork-1.png" alt="artwork mando y grogu"></div>
        </div>

        <p>
            En cumplimiento del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016 relativo a la 
            protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de 
            estos datos (RGPD), así como la Ley Orgánica de Protección de Datos, le informamos de lo siguiente:
        </p>

        <h5>¿Quién es el responsable de tus datos?</h5>
        <p>
            Mandopedia <br>
            Dirección Web: <a href="mandopedia.sytes.net" target="_blank">mandopedia.sytes.net</a>
        </p>
        
        <h5>¿Para qué vamos a usar tus datos?</h5>
        <p>
            En Mandopedia utilizamos tus datos personales, bajo nuestro interés legítimo:<br>
            Si contactas con nosotros a través de las redes sociales: para dar respuesta a la solicitud de información.<br>
            Asimismo, le informamos que desde Mandopedia no se tomarán decisiones automatizadas en base a su perfil.<br>
        </p>
        
        <h5>¿A quién comunicaremos tus datos?</h5>
        <p>
            Nosotros tenemos una serie de obligaciones legales que debemos cumplir respecto de tus datos. Entre ellas, debemos 
            facilitar estos datos cuando nos los solicite la Agencia Tributaria.<br>
            Asimismo, y si contamos con su consentimiento, podremos enviarle aquellas informaciones comerciales acerca de nuestros 
            servicios y tratamientos que puedan resultarle de utilidad.<br>
            Debe tener en cuenta que si contacta con nuestro equipo a través de alguno de los perfiles en redes sociales que 
            Mandopedia pone a disposición de los usuarios, además de cedernos los datos que nos facilite a nuestra entidad, 
            también los estará cediendo a las entidades responsables de esa propia red social. Para conocer el uso y tratamiento que 
            estas entidades hacen de sus datos, le aconsejamos que lea detenidamente las políticas de privacidad de las redes 
            sociales que tenga activas.
        </p>
    
        <h5>¿De dónde obtenemos tus datos?</h5>
        <p>
            Obtenemos tus datos cuando:
            <ul>
                <li>Te registras en nuestra web.</li>
                <li>Contactas con nosotros a través de las redes sociales.</li>
            </ul>
        </p>
        
        <h5>¿Cuáles son tus derechos y cómo puedes ejercitarlos?</h5>
        <p>
            Podrás acceder, rectificar, suprimir y oponerte a determinados tratamientos, así como ejercer tu derecho a la limitación 
            del tratamiento, a la portabilidad y a no ser objeto de una decisión individual basada únicamente en un tratamiento 
            automatizado.<br>
            Del mismo modo, podrás retirar tu consentimiento para el tratamiento de tus datos personales en cualquier momento. 
            Por descontado, podrás oponerte en cualquier momento a recibir publicidad sobre nuestros servicios.
        </p>
    
        <h5>¿Durante cuánto tiempo conservamos tus datos?</h5>
        <p>
            Si has contactado con nosotros a través de las redes sociales: Hasta que termine el tratamiento o solicites 
            la supresión de tus datos.<br>
            Mandopedia también deberá conservar determinada información en base a requerimientos legales.
        </p>
        <p>Mandopedia cumple con las directrices del Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, 
            de 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos 
            personales y a la libre circulación de estos datos (RGPD), así como la Ley Orgánica de Protección de Datos y demás 
            normativa vigente en cada momento, y vela por garantizar el correcto uso y tratamiento de los datos personales del 
            usuario.
        </p>
        <p>
            Mandopedia informa que da cumplimiento a la ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la 
            Información y el Comercio Electrónico y le solicitará su consentimiento al tratamiento de su correo electrónico con 
            fines comerciales en cada momento.
        </p>
    </section>

</section>

{{ include('_footer.html.twig')}}

{% endblock %}