<footer>
    <section class="footer-links">
        <div>
            <a href="/privacy">Política de privacidad</a>
            <a href="/cookies">Política de cookies</a>
        </div>
    
        <div>
            <a href="/terms">Condiciones de uso</a>
            <a href="/about-us">Sobre nosotros</a>
        </div>
    </section>

    <section class="footer-copyright">
        <div class="icons-social-media">
            <a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter fa-2xl"></i></a>
            <a href="https://es-es.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f fa-2xl"></i></a>
        </div>
        
        <p>Mandopedia&trade; by <i>juandemarr&copy;</i>. Todos los derechos reservados</p>
    </section>
</footer>